# Documentation available at:
# https://www.freedesktop.org/software/systemd/man/systemd.service.html

[Unit]
Description=Snap! Logger daemon
Documentation=https://snapwebsites.org/project/snaplogger file:/usr/share/doc/snaplogger-doc/html/

[Service]
Type=simple
WorkingDirectory=~
ProtectHome=true
NoNewPrivileges=true
ExecStart=/usr/sbin/snaploggerd
ExecStop=/usr/bin/ed-signal snaploggerd/STOP
Restart=on-failure
RestartSec=10
User=snaplogger
Group=snaplogger
LimitNPROC=1000
# For developers and administrators to get console output
#StandardOutput=tty
#StandardError=tty
#TTYPath=/dev/console
# Enter a size to get a core dump in case of a crash
#LimitCORE=10G

[Install]
WantedBy=multi-user.target

# vim: syntax=dosini
